@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
  margin:0;
  box-sizing: border-box;
}

//* NAVBAR

.navigation {
  transition: 0.3s ease;
  display: inline-flex;
  flex-direction: row;
  // justify-content: space-around;
  flex: 2;
  align-items: center;
	top: 0;
  background-color: #41228e;
  width: 100%;
  padding: 15px 20px;
}

.navigation.nav-bg {
  background-color: #41228e;
}

@media (max-width: 991px) {
  .navigation {
    background: #41228e;
  }
}

.navbar .nav-item .nav-link {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding: 15px;
}

.navbar .nav-item .active {
  font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  margin-top: 0px;
}

.logo {
  margin: auto;
  height: 55px;
  margin-left: 40px;
  margin-right: 50px;
}

//* HOME PAGE

.container-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #41228e;
  height: 630px;
  align-items: center;
  align-content: center;
}

.container-title {
  position: relative;
  z-index: 1;
}

.bg-shape-1 {
  position: absolute;
  left: 10px;
  top: 200px;
}

.bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 450px;
}

h1 {
  flex-grow: 1;
  margin: 100px 0 25px 0;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 90px;
  font-weight: 600;
}

.role {
  flex-grow: 1;
  margin: 0 0 20px 5px;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 30px;
  font-weight: 400;
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 40px;
    margin-left: 20px;
  }
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .role {
    font-size: 20px;
    margin-left: 20px;
  }
}

.esin {
  flex-grow: 1;
  height: 400px;
}

.bg-shape-3 {
  position: absolute;
  z-index: auto;
}

.container-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: black;
  padding: 70px 0 20px 0;
  font-weight: 600;
}

.font-secondary {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: black;
  padding: 10px 0 0 50px;
  letter-spacing: 1px;
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .font-secondary {
    font-size: 15px;
  }
}

.see-below {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #41228e;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
}

.chevron {
  margin-bottom: 40px;
  height: 35px;
  filter: invert(16%) sepia(57%) saturate(3106%) hue-rotate(247deg) brightness(88%) contrast(103%);
}


//* PROJECT GALLERY

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.project {
  display: flex;
  flex: 0 50%;
  height: 400px;
  position: relative;
  width: 50%;
}

.text {
  position: absolute;
  background: #434343;
  top: 0;
  right: 0;
  color: white;
  height: 400px;
  flex: 50%;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 15px;
  font-family: "Playfair Display", serif;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}

.image {
  flex: 50%;
}

.project:hover {
  cursor: pointer;
}

.project:hover .text {
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
}

.hover-wrapper {
  overflow: hidden;
}
.hover-wrapper img {
  transition: 0.3s ease;
  transform: scale(1);
}
.hover-wrapper:hover img {
  transform: scale(1.1);
}
.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  width: 80%;
  margin: auto;
}

.hover-title {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 20px;
}

.hover-text {
  margin: 10px 20px 15px 20px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}


//* DESIGN WORKS

.title-section {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}

h4 {
  margin-top: 100px;
  margin-bottom: 80px;
  color: #41228e;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
}


h5 {
  margin-top: 30px;
  margin-bottom: 80px;
  color: #41228e;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
}

.btn-xs {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #41228e;
  color: white;
}

.btn-xs:hover {
  cursor: pointer;
  color: white;
  background: lighten($color: #41228e, $amount: 10)
}

.last {
  margin-top:24px;
}


//* SKILLS

// .bottom-layer-1 {
//   position:absolute;
//   z-index: auto;
// }

.skills {
  margin-top: 10px;
  margin-bottom: 80px;
}

.skills-title {
  margin-top: 10px;
  color: #41228e;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
}

.icon {
  height: 30px;
  margin-top: 30px;
}

.colour-icon {
  filter: invert(11%) sepia(77%) saturate(5629%) hue-rotate(275deg) brightness(68%) contrast(115%);
}

.mb-0 {
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  margin-top: 5px;
  margin-bottom: 20px;
}

//* BACKGROUND

.background {
  margin-bottom: 80px;
}

.background-title {
  margin-top: 10px;
  color: #41228e;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.background-text {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  position: relative;
  z-index: 6;
}

.linke {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.linke:hover {
  color: darken($color: white, $amount: 80);
  cursor: pointer;
}

.here {
  font-weight: bold;
}

.here:hover {
  color:rgba(0, 0, 0, 0.7)
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .background-text {
    font-size: 15px;
  }
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .work {
    font-size: 15px;
    margin-bottom: 40px;
  }
}

.chevron-background {
  margin-top: 10px;
  margin-bottom: 0px;
  height: 35px;
  filter: invert(16%) sepia(57%) saturate(3106%) hue-rotate(247deg) brightness(88%) contrast(103%);
}

.background-each-title {
  margin-top: 0px;
  color: #41228e;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.year {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .year {
    font-size: 15px;
  }
}

.background-each {
  margin-bottom: 10px;
  margin-top:10px;
  font-size: 20px;
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .background-each {
    font-size: 15px;
  }
}

.what-else {
  position: relative;
  z-index: 1;
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .what-else {
    margin-top: 15px;
  }
}

.what-else-text {
  margin-bottom: 170px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .what-else-text {
    font-size: 15px;
  }
}

.bg-shape-bottom-1 {
  position: absolute;
  left: 0px;
  top: 60px;
}

.bg-shape-bottom-2 {
  position: absolute;
  right: 100px;
  top: 250px;
  margin-bottom: 20px;
}

//* FOOTER

.footer-section {
  padding-top: 100px;
  background-color: #41228e;
  position: relative;
  z-index: 1;
}

.font-footer {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.footer-text {
  margin-left: 90px;
}

h6 {
  font-size: 25px;
  margin-bottom: 30px;
  color:white;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.email {
  text-decoration: none;
  color: white;
}

.email:hover {
  color: darken($color: white, $amount: 20)
}

@media only screen 
and (max-width: 800px)
and (-webkit-min-device-pixel-ratio: 2) {
  .font-footer {
    margin-bottom: 40px;
  }
}

.icon-linkedin {
  height: 30px;
  margin-right: 20px;
  filter: invert(100%) sepia(1%) saturate(5547%) hue-rotate(206deg) brightness(115%) contrast(92%);
}

.icon-linkedin:hover {
  filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(88%) contrast(86%);
}

.icon-git {
  height: 30px;
  margin-top: 1px;
  filter: invert(100%) sepia(1%) saturate(5547%) hue-rotate(206deg) brightness(115%) contrast(92%);
}

.icon-git:hover {
  filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(88%) contrast(86%);
}

.text-bottom {
  font-size: 10px;
  color: gray;
  margin-top: 40px;
  margin-bottom: 30px;
}


