@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

*{
  margin:0;
  box-sizing: border-box;
}

//* NAVBAR

.nav {
	display: inline-flex;
  flex-direction: row;
	align-items: center;
	height: 100px;
	top: 0;
  background-color: #41228e;
  width: 100%;
  // box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.nav-toggle {
  @media only screen and (max-width: 600px){
    display: none;
  }
}

.logo {
  margin: auto;
  height: 55px;
  margin-left: 50px;
}

.logo:hover {
  height:60px;
  transition-duration: 300ms;
}

.nav-title {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;

}

.burger-toggle {
  display: none;
  @media only screen and (max-width: 600px){
    display: inline-flex;
  }
}

.burger-icon {
  color: white;
  margin-left: 70%;
  margin-top: -60px;
}

.side-nav-menu-container {
  width: 200px;
  background-color: white;
  height: 150px;
  position: fixed;
  z-index: 2;
  right: -100%;
  padding: 20px 30px;
  border-radius: 0 0 0 20px;
  margin-top: 200px;
  text-transform: uppercase;
}

.side-nav-menu-container.active {
  right: 0;
  transition: all 0.4s;
}


.li-buttons {
  list-style: none;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.li-hrefs {
  text-decoration: none;
  color: #E60023;
}

.nav-buttons {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
  margin-right: 50px;
}

.nav-button {
  text-decoration: none;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  margin-left: 20px;
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
}

.nav-button:hover {
  color: gray;
}

//* HOME PAGE

.container-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #41228e;
  height: 400px;
}

.container-title {
  position: relative;
  z-index: 1;
}

.bg-shape-1 {
  position: absolute;
  left: 10px;
  top: 200px;
}

.bg-shape-2 {
  position: absolute;
  right: 160px;
  top: 300px;
}

h1 {
  flex-grow: 1;
  margin: 70px 0 140px 0;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 90px;
  font-weight: 600;
}

.esin {
  flex-grow: 1;
  height: 400px;
}

.bg-shape-3 {
  position: absolute;
}

.container-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: black;
  padding: 70px 0 20px 0;
  letter-spacing: 1px;
}

.font-secondary {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: black;
  padding: 10px 0 0 50px;
  letter-spacing: 1px;
}

.see-below {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #41228e;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 600;
}

.chevron {
  margin-bottom: 40px;
  height: 35px;
  filter: invert(16%) sepia(57%) saturate(3106%) hue-rotate(247deg) brightness(88%) contrast(103%);
}


//* PROJECT GALLERY

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2%; 
  width: 100%;
}

.project {
  display: flex;
  flex: 0 50%;
  height: 400px;
  position: relative;
  width: 50%;
}

.text {
  position: absolute;
  background: #434343;
  top: 0;
  right: 0;
  color: white;
  height: 400px;
  flex: 50%;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textArea {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 15px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}

.image {
  flex: 50%;
}

.project:hover {
  cursor: pointer;
}

.project:hover .text {
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
}
